#content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  overflow-wrap: break-word;
}

.top-section {
  width: 100%;
}