#header {
  margin-bottom: 16px;
}
#header h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-primary);
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}